#window {
  font-family: JetBrains Mono;
  font-size: 15px;
  /* font-weight: regular; */
  border-radius: 25px;
  background-color: rgba(34, 36, 54, 0.3);
  border: 2px solid #cdd6f4;
  /* color: #cdd6f4; */
}

#outer-box {
  padding: 20px;
}

#input {
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 5px 15px;
  border: 1px solid #cdd6f4;
  background: transparent;
  /* color: #cdd6f4; */
}

#input:focus,
#input:focus-visible {
  /* border: none; */
  outline: none;
  box-shadow: none;
}

#entry {
  /* padding: 5px 10px; */
  border-radius: 20px;
  margin: 3px 0px;
  padding: 10px 10px;
}

#entry:selected {
  padding: 5px 60px;
  min-height: 40px;
  background-color: transparent;
  border: 1px solid #cdd6f4;
  color: #cdd6f4;
  outline: none;
  font-weight: semi-bold;
  /* font-size: 17px; */
  transition: 0.3s;
}

#img {
  margin-right: 20px;
  margin-left: 10px;
}
