/* -- Global rules -- */
* {
  border: none;
  font-family: "JetBrains Mono";
  font-size: 15px;
  min-height: 6px;
}

window#waybar {
  background-color: transparent;
}

#waybar>box {
  margin: 20px 20px 0px 20px;
  /* box-shadow: 1px 1px 5px rgba(30, 30, 46, 0.5); */
  /* border: 2px solid rgba(17, 17, 27, 0.1); */
  /* background: rgba(34, 36, 54, 0.3); */
  /* background: transparent; */
  border-radius: 20px;
  /* padding: 5px 5px; */
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#battery,
#backlight,
#custom-icon,
#clock,
#cpu,
#custom-kernel,
#memory,
#disk,
#temperature,
#pulseaudio,
#network,
#language {
  color: #161320;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  transition: none;
}

/* Separation to the left */
#custom-icon,
#custom-kernel,
#battery,
#network {
  margin-left: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Separation to the rigth */
#clock,
#disk,
#language,
#pulseaudio {
  margin-right: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* #language { */
/* margin-right: 25px; */
/* } */

/* #custom-icon { */
/* margin-left: 25px; */
/* } */


/* -- Specific styles -- */

/* Modules left */
#custom-icon {
  font-size: 20px;
  color: #1e1e2e;
  background: #94e2d5;
  padding-right: 17px;
}

#clock {
  background: #cdd6f4;
}

#custom-kernel {
  background: #cdd6f4;
}

#cpu {
  background: #89dceb;
}

#memory {
  background: #74c7ec;
}

#disk {
  background: #89b4fa;
}

#temperature {
  background: #F8BD96;
}

/* Modules center */
#workspaces {
  /* background: rgba(0, 0, 0, 0.5); */
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* #workspaces button.occupied { */
/*   color: #A6E3A1; */
/* } */

/* #workspaces button.active { */
/*   color: #cdd6f4; */
/* text-shadow: 0 0 4px #ABE9B3; */
/* transition: 0.5s; */
/* padding-top: 5px */
/* } */

#workspaces button:hover {
  box-shadow: none;
  outline: none;
  border: none;
}

/* #workspaces button.active:hover {} */

/* Modules right */
/* #taskbar { */
/* background: transparent; */
/* border-radius: 10px; */
/* padding: 0px 5px; */
/* margin: 6px 5px; */
/* } */

/* #taskbar button { */
/* padding: 0px 5px; */
/* margin: 0px 3px; */
/* border-radius: 6px; */
/* transition: background 0.3s ease; */
/* } */

/* #taskbar button.active { */
/* background: rgba(34, 36, 54, 0.5); */
/* } */

/* #taskbar button:hover { */
/* background: rgba(34, 36, 54, 0.5); */
/* } */

#battery {
  background: #f5e0dc;
}

#backlight {
  background: #f2cdcd;
}

#pulseaudio {
  min-width: 55px;
  color: #1A1826;
  background: #eba0ac;
}

#network {
  padding-right: 13px;
  background: #f9e2af;
}

#network.disconnected {
  background: #f38ba8;
}

#language {
  background: #fab387;
  padding-right: 15px;
}

/* === Optional animation === */
/* @keyframes blink { */
/* to { */
/* background-color: #BF616A; */
/* color: #B5E8E0; */
/* } */
/* } */
